* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ccc;
    background-color: #d8d8d8;
}
img {
    height: 50px;
    width: 100%;
}
.menu {
    display: flex;
}
li {
    list-style: none;
    padding: 0 15px;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #000;
    opacity: 0.8;
    transition: 0.5s ease;
}
a:hover {
    color: #002e45;
    transition: 0.5s ease;
}
.active {
    opacity: 1;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 3px solid #002e45;
}
.drop-link {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 600;
}
i {
    color: #002e45;
}
.contact {
    font-weight: 600;
}
.fasfa-photo-alt {
    margin-right: 10px;
}
.content {
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
div {
    margin-bottom: 10px;
}



footer {
    background-color: #d8d8d8;
    height: 50px;
    width: 100%;
    border-top: 1px solid #ccc;
}
footer p {
    text-align: center;
    margin-top: 5px;
}










@media screen and (max-width: 650px) {

    nav {
        width: auto;
        position: sticky;
    }

    footer {
        width: 100%; 
    } 
}